.home {
    text-align: center;
  }
  
  button {
    background-color: #8B4513;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #FFD700;
  }
  